@section SPAViews {
    @Html.Partial("_Home")
}


<h2>
    <a href="drewthomas.live">Drew Thomas Homepage</a>
</h2>

<div>
    @Html.ActionLink("Go to Send Email", "Index","EmailService")
        @*
        string linkText, string actionName, string controllerName
        *@
</div>
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}